.country-detail-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.country-detail {
    min-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 2em;
}

.flag {
    min-width: 750px;
    max-height: 450px;
    box-shadow: 20px 20px 40px -6px rgb(0 0 0 / 20%);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border-radius: 10px;
}

.detail {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    row-gap: 2em;
    box-shadow: 20px 20px 40px -6px rgb(0 0 0 / 20%);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border-radius: 10px;
    background: rgba(48, 82, 205, 0.2);
    padding: 2em;
}

.activities-container {
    display: flex;
    flex-direction: row;

    column-gap: 2em;
    box-shadow: 20px 20px 40px -6px rgb(0 0 0 / 20%);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border-radius: 10px;
    background: rgba(48, 82, 205, 0.2);
    padding: 2em;
}